<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="$ADDON[plugin.video.tidb 32025]">
        <setting id="skip_offset" type="number" label="$ADDON[plugin.video.tidb 32011]" default="2"/>
    </category>
    <category label="$ADDON[plugin.video.tidb 32026]">
        <setting id="enable_intro" type="bool" label="$ADDON[plugin.video.tidb 32006]" default="true"/>
        <setting id="auto_skip_intro" type="bool" label="$ADDON[plugin.video.tidb 32036]" default="false"/>
        <setting id="enable_recap" type="bool" label="$ADDON[plugin.video.tidb 32007]" default="true"/>
        <setting id="auto_skip_recap" type="bool" label="$ADDON[plugin.video.tidb 32037]" default="false"/>
        <setting id="enable_credits" type="bool" label="$ADDON[plugin.video.tidb 32008]" default="true"/>
        <setting id="auto_skip_credits" type="bool" label="$ADDON[plugin.video.tidb 32038]" default="false"/>
        <setting id="enable_preview" type="bool" label="$ADDON[plugin.video.tidb 32009]" default="true"/>
        <setting id="auto_skip_preview" type="bool" label="$ADDON[plugin.video.tidb 32039]" default="false"/>
    </category>
    <category label="$ADDON[plugin.video.tidb 32027]">
        <setting id="introdb_enabled" type="bool" label="$ADDON[plugin.video.tidb 32031]" default="true"/>
        <setting id="introdb_api_key" type="text" label="$ADDON[plugin.video.tidb 32032]" default=""/>
    </category>
    <category label="$ADDON[plugin.video.tidb 32028]">
        <setting id="enable_submissions" type="bool" label="$ADDON[plugin.video.tidb 32024]" default="false"/>
    </category>
    <category label="$ADDON[plugin.video.tidb 32029]">
        <setting id="anonymous_usage_reporting" type="bool" label="$ADDON[plugin.video.tidb 32033]" default="true"/>
    </category>
    <category label="$ADDON[plugin.video.tidb 32030]">
        <setting id="debug_logging" type="bool" label="$ADDON[plugin.video.tidb 32034]" default="false"/>
        <setting id="debug_osd" type="bool" label="$ADDON[plugin.video.tidb 32035]" default="false"/>
    </category>
</settings>
