<?xml version="1.0" ?>
<settings version="1">
    <section id="service.subtitles.subsource">
        <category id="user" label="32101">
            <group id="1" label="32203">
                <setting id="APIKey" type="string" label="32203" help="32204">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32203</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
