<settings>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="furniture.providerscodecs" type="bool">true</setting>
    <setting id="osd.autohideonpause" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">true</setting>
    <setting id="indicator.disablepvrguidecatchup" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="keyboard.fullsized" type="bool">false</setting>
    <setting id="osd.ondown.disablevideobookmarks" type="bool">false</setting>
    <setting id="indicator.ratingscircle" type="bool">true</setting>
    <setting id="startup.waitforload" type="bool">true</setting>
    <setting id="widgets.disableshowmore" type="bool">false</setting>
    <setting id="hub.1108.widgetselector" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">true</setting>
    <setting id="info.disabledetailsline" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">true</setting>
    <setting id="osd.ondown.disablepvrosdchannels" type="bool">false</setting>
    <setting id="hub.1104.widgetselector" type="bool">false</setting>
    <setting id="indicator.disableepisodes" type="bool">false</setting>
    <setting id="enablemonochromehighlight" type="bool">true</setting>
    <setting id="trailers.enableautoplayback" type="bool">true</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="display.enablepanels" type="bool">false</setting>
    <setting id="osd.ondown.disable1141" type="bool">false</setting>
    <setting id="info.uselocalcast" type="bool">true</setting>
    <setting id="furniture.enableclock" type="bool">false</setting>
    <setting id="wizard.firstrun" type="bool">true</setting>
    <setting id="hub.1105.disablesubmenu" type="bool">false</setting>
    <setting id="info.disableallratings" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="experimentalshowntsfile" type="bool">false</setting>
    <setting id="hub.home.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1102.widgetselector" type="bool">false</setting>
    <setting id="holidaymode.australia" type="bool">false</setting>
    <setting id="tmdbhelper.uselocalwidgetcontainer" type="bool">true</setting>
    <setting id="hub.1102.disablesubmenu" type="bool">false</setting>
    <setting id="background.disablevideo" type="bool">false</setting>
    <setting id="navigation.onback.expandmenu" type="bool">false</setting>
    <setting id="indicator.disablelibrary" type="bool">false</setting>
    <setting id="hub.1109.disablesubmenu" type="bool">false</setting>
    <setting id="hub.1101.disablesubmenu" type="bool">false</setting>
    <setting id="hub.home.disablemovebetweengroups" type="bool">false</setting>
    <setting id="hub.1108.disablesubmenu" type="bool">false</setting>
    <setting id="infoline.endtime" type="bool">false</setting>
    <setting id="furniture.disableplaycounts" type="bool">false</setting>
    <setting id="smartshortcuts.emby" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="hub.1103.widgetselector" type="bool">false</setting>
    <setting id="sidemenu.swapsearchfordiscover" type="bool">false</setting>
    <setting id="furniture.disablenowplaying" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="views.usealtcombined.detailed" type="bool">false</setting>
    <setting id="indicator.disablewatched" type="bool">false</setting>
    <setting id="furniture.enableviewlineicons" type="bool">true</setting>
    <setting id="disablelandscapeart" type="bool">false</setting>
    <setting id="hub.1105.widgetselector" type="bool">false</setting>
    <setting id="glass.enableborders" type="bool">true</setting>
    <setting id="info.enablepillboxstyle" type="bool">true</setting>
    <setting id="labels.autoscroll" type="bool">true</setting>
    <setting id="furniture.enablecolourratings" type="bool">true</setting>
    <setting id="enableholidaytheme" type="bool">false</setting>
    <setting id="toastnotifications.tabbed" type="bool">true</setting>
    <setting id="background.disablespotlight" type="bool">false</setting>
    <setting id="navigation.disableoptionsonleft" type="bool">false</setting>
    <setting id="indicator.episodetypebanner" type="bool">true</setting>
    <setting id="defaultconfig.initdone" type="bool">true</setting>
    <setting id="indicator.disablecollection" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="furniture.enableclock.topleft" type="bool">true</setting>
    <setting id="views.disableitempeek" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="invertselectedtext" type="bool">false</setting>
    <setting id="osd.ondown.disablepvrosdguide" type="bool">false</setting>
    <setting id="hub.1106.disablesubmenu" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="sidemenu.enablesearchandoptions" type="bool">true</setting>
    <setting id="defaultuser.EnableMonochromeHighlight" type="bool">true</setting>
    <setting id="options.enabletraylabels" type="bool">true</setting>
    <setting id="texturemaker.built" type="bool">true</setting>
    <setting id="furniture.viewlinemonochrome" type="bool">false</setting>
    <setting id="hub.1107.widgetselector" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="navigation.mediafilterwall" type="bool">true</setting>
    <setting id="navigation.disableoptionsonback" type="bool">false</setting>
    <setting id="hub.home.widgetselector" type="bool">false</setting>
    <setting id="osd.autoinfoonpause" type="bool">true</setting>
    <setting id="smartshortcuts.favorites" type="bool">false</setting>
    <setting id="home.sidemenu.disableindicator" type="bool">false</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="skinuserlogin.disabled" type="bool">false</setting>
    <setting id="hub.1107.disablesubmenu" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="indicator.disableprogress" type="bool">false</setting>
    <setting id="smartshortcuts.plex" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="customrating.disablepremierestatus" type="bool">false</setting>
    <setting id="sidemenu.swapinfoposition" type="bool">false</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="trailers.enableautoplayback.info" type="bool">true</setting>
    <setting id="indicator.progresspercent" type="bool">true</setting>
    <setting id="osd.displaytitledetailsonseek" type="bool">true</setting>
    <setting id="skinhelper.enablewallbackgrounds" type="bool">false</setting>
    <setting id="skinuserlogin.startuploginscreen" type="bool">false</setting>
    <setting id="holidaymode.frost" type="bool">false</setting>
    <setting id="furniture.bottomright.disable" type="bool">false</setting>
    <setting id="indicator.disablelatest" type="bool">false</setting>
    <setting id="hub.1104.disablesubmenu" type="bool">false</setting>
    <setting id="osd.ondown.disable1140" type="bool">false</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="dialog.disableartworkpreview" type="bool">false</setting>
    <setting id="views.usealtcombined" type="bool">true</setting>
    <setting id="textboxes.disableautoscroll" type="bool">false</setting>
    <setting id="hub.1106.widgetselector" type="bool">false</setting>
    <setting id="hub.1101.widgetselector" type="bool">false</setting>
    <setting id="hub.1103.disablesubmenu" type="bool">false</setting>
    <setting id="osd.displayplotwithtitle" type="bool">true</setting>
    <setting id="keyboard.disableautocompletion" type="bool">false</setting>
    <setting id="TMDbHelper.DirectCallAuto" type="bool">true</setting>
    <setting id="defaultuser.invertselectedtext" type="bool">false</setting>
    <setting id="views.usehalfpvrguide" type="bool">false</setting>
    <setting id="smartshortcuts.playlists" type="bool">false</setting>
    <setting id="background.enablespotlightslide" type="bool">true</setting>
    <setting id="hub.1109.widgetselector" type="bool">false</setting>
    <setting id="hub.home.spotlight.label" type="string">عشوائي الشائع مجتمعة</setting>
    <setting id="skinvariables.skinuser.icon" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="hub.1104.spotlight.path" type="string">noop</setting>
    <setting id="SkinConstant.Numeric.16" type="string">16</setting>
    <setting id="skinvariables.skinuser.name" type="string"></setting>
    <setting id="season_premiere_color.name" type="string"></setting>
    <setting id="mpaa_country" type="string">USA</setting>
    <setting id="skinconstant.numeric.05" type="string">5</setting>
    <setting id="hub.1101.spotlight.target" type="string">videos</setting>
    <setting id="Hub.1102.Spotlight.icon" type="string">special://skin/extras/icons/watched-hide.png</setting>
    <setting id="background.image" type="string">special://skin/extras/backgrounds/blur/coal_blur.jpg</setting>
    <setting id="SkinConstant.Numeric.12" type="string">12</setting>
    <setting id="SkinConstant.Numeric.15" type="string">15</setting>
    <setting id="hub.1104.spotlight.fallback" type="string"></setting>
    <setting id="optionstiles.03.include" type="string">Weather</setting>
    <setting id="optionstiles.01.path" type="string"></setting>
    <setting id="optionstiles.04.target" type="string"></setting>
    <setting id="Shortcuts.RebuildDateTime" type="string">2024-06-16_20:19:53</setting>
    <setting id="hub.1101.spotlight.label" type="string">None</setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="OptionsTiles.04.Icon" type="string"></setting>
    <setting id="defaultuser.gradientcolor.name" type="string">ffdd2c00</setting>
    <setting id="hub.1106.spotlight.sortby" type="string"></setting>
    <setting id="hub.1106.spotlight.label" type="string"></setting>
    <setting id="OSD_Timeout" type="string">4</setting>
    <setting id="optionstiles.02.include" type="string">Settings</setting>
    <setting id="hub.1107.spotlight.target" type="string"></setting>
    <setting id="searchdiscover.votelow" type="string"></setting>
    <setting id="skinconstant.numeric.01" type="string">1</setting>
    <setting id="customrating.movies.item04" type="string">Kodi</setting>
    <setting id="SkinConstant.Numeric.19" type="string">19</setting>
    <setting id="hub.1109.spotlight.label" type="string"></setting>
    <setting id="customrating.movies.item01" type="string">TMDb</setting>
    <setting id="hub.1104.spotlight.target" type="string">tvguide</setting>
    <setting id="OptionsTiles.02.Label" type="string"></setting>
    <setting id="navigation.hub.1102.ondown" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="hub.1107.spotlight.path" type="string"></setting>
    <setting id="watchedprogresscolor.name" type="string">ff03b585</setting>
    <setting id="skinconstant.numeric.03" type="string">3</setting>
    <setting id="optionstiles.04.path" type="string"></setting>
    <setting id="hub.1103.spotlight.fallback" type="string"></setting>
    <setting id="optionstiles.03.target" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string">90</setting>
    <setting id="navigation.hub.1109.ondown" type="string"></setting>
    <setting id="hub.home.spotlight.sortby" type="string"></setting>
    <setting id="startup.imagefolder" type="string"></setting>
    <setting id="Hub.1104.Spotlight.icon" type="string">special://skin/extras/icons/watched-hide.png</setting>
    <setting id="skinconstant.numeric.08" type="string">8</setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="hub.1108.spotlight.path" type="string"></setting>
    <setting id="searchhistory" type="string"></setting>
    <setting id="mouse.pointersize" type="string"></setting>
    <setting id="hub.1101.spotlight.fallback" type="string"></setting>
    <setting id="SkinConstant.Numeric.17" type="string">17</setting>
    <setting id="hub.1108.spotlight.fallback" type="string"></setting>
    <setting id="CustomRating.TVShows.Item05" type="string"></setting>
    <setting id="hub.1102.spotlight.path" type="string">noop</setting>
    <setting id="background.dialogimage" type="string">Coal</setting>
    <setting id="startup.videopath" type="string"></setting>
    <setting id="OptionsTiles.03.Label" type="string"></setting>
    <setting id="navigation.global.ondown" type="string">Options</setting>
    <setting id="script-skinvariables-generator-textures-hash" type="string">64fbb8d5331344c45c70b18488c2fb11</setting>
    <setting id="background.multiimage" type="string"></setting>
    <setting id="optionstiles.01.include" type="string">NowPlaying</setting>
    <setting id="skin.flixart.size" type="string">ExtraLarge</setting>
    <setting id="hub.1109.spotlight.target" type="string"></setting>
    <setting id="SkinConstant.Numeric.14" type="string">14</setting>
    <setting id="navigation.hub.1103.ondown" type="string"></setting>
    <setting id="hub.1109.spotlight.path" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="defaultuser.Background.DialogImage" type="string">Coal</setting>
    <setting id="optionstiles.layout" type="string">3</setting>
    <setting id="OptionsTiles.04.Label" type="string"></setting>
    <setting id="hub.1103.spotlight.sortby" type="string"></setting>
    <setting id="script-skinvariables-generator-hash" type="string">80266fee676672c8b0440ed0e7397e92</setting>
    <setting id="optionstiles.02.target" type="string"></setting>
    <setting id="CustomRating.Movies.Item05" type="string"></setting>
    <setting id="furniture.bottomleft.enable" type="string">Always</setting>
    <setting id="hub.home.spotlight.fallback" type="string"></setting>
    <setting id="furniture.codecstyle" type="string">Colour</setting>
    <setting id="script-skinviewtypes-hash" type="string">94adaa235cfcd1af9f393b2f200b8149</setting>
    <setting id="navigation.hub.1104.ondown" type="string"></setting>
    <setting id="navigation.hub.1107.ondown" type="string"></setting>
    <setting id="skinvariables.skinuser" type="string"></setting>
    <setting id="SkinConstant.Numeric.11" type="string">11</setting>
    <setting id="Hub.Home.Spotlight.icon" type="string">image://%2fstorage%2f.kodi%2faddons%2fplugin.video.themoviedb.helper%2f%2fresources%2ficons%2ftrakt%2ftrend.png/</setting>
    <setting id="customrating.tvshows.item02" type="string">Trakt</setting>
    <setting id="background.artworkstyle" type="string"></setting>
    <setting id="hub.home.spotlight.target" type="string">videos</setting>
    <setting id="skinconstant.numeric.09" type="string">9</setting>
    <setting id="CustomRating.TVShows.Item06" type="string"></setting>
    <setting id="SkinConstant.Numeric.18" type="string">18</setting>
    <setting id="hub.1104.spotlight.label" type="string">None</setting>
    <setting id="skinconstant.numeric.00" type="string">0</setting>
    <setting id="optionstiles.02.path" type="string"></setting>
    <setting id="hub.1103.spotlight.label" type="string">None</setting>
    <setting id="hub.1107.spotlight.sortby" type="string"></setting>
    <setting id="hub.1108.spotlight.label" type="string"></setting>
    <setting id="defaultuser.watchedprogresscolor.name" type="string">ff03b585</setting>
    <setting id="mid_season_finale_color.name" type="string"></setting>
    <setting id="mousepointercolor.name" type="string"></setting>
    <setting id="OptionsTiles.01.Icon" type="string"></setting>
    <setting id="navigation.hub.1108.ondown" type="string"></setting>
    <setting id="OptionsTiles.03.Icon" type="string"></setting>
    <setting id="hub.1108.spotlight.target" type="string"></setting>
    <setting id="series_premiere_color.name" type="string"></setting>
    <setting id="gradientcolor.name" type="string">ffdd2c00</setting>
    <setting id="TMDbHelper.MonitorContainer" type="string">99950</setting>
    <setting id="hub.1109.spotlight.sortby" type="string"></setting>
    <setting id="script-skinviewtypes-checksum" type="string">f9ce06aa7a55c9eb79d4bdcab5f1c5b8</setting>
    <setting id="hub.1109.spotlight.fallback" type="string"></setting>
    <setting id="Hub.1103.Spotlight.icon" type="string">special://skin/extras/icons/watched-hide.png</setting>
    <setting id="navigation.hub.1106.ondown" type="string"></setting>
    <setting id="home.label" type="string"></setting>
    <setting id="OptionsTiles.02.Icon" type="string"></setting>
    <setting id="hub.1102.spotlight.label" type="string">None</setting>
    <setting id="hub.1104.spotlight.sortby" type="string"></setting>
    <setting id="season_finale_color.name" type="string"></setting>
    <setting id="OptionsTiles.01.Label" type="string"></setting>
    <setting id="navigation.hub.home.ondown" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="hub.1101.spotlight.path" type="string">noop</setting>
    <setting id="navigation.hub.1101.ondown" type="string"></setting>
    <setting id="hub.1107.spotlight.label" type="string"></setting>
    <setting id="SkinConstant.Numeric.13" type="string">13</setting>
    <setting id="defaultuser.Background.Image" type="string">special://skin/extras/backgrounds/blur/coal_blur.jpg</setting>
    <setting id="hub.1103.spotlight.target" type="string">music</setting>
    <setting id="focuscolor.name" type="string">ffdd2c00</setting>
    <setting id="autoscrolltime" type="string">8s</setting>
    <setting id="skinconstant.numeric.02" type="string">2</setting>
    <setting id="hub.1102.spotlight.sortby" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="customrating.movies.item03" type="string">RottenTomatoesCritic</setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="customrating.tvshows.item04" type="string">Kodi</setting>
    <setting id="optionstiles.04.include" type="string">SystemInfo</setting>
    <setting id="defaultuser.focuscolor.name" type="string">ffdd2c00</setting>
    <setting id="hub.1102.spotlight.fallback" type="string"></setting>
    <setting id="customrating.tvshows.item03" type="string">RottenTomatoesCritic</setting>
    <setting id="customrating.tvshows.item01" type="string">TMDb</setting>
    <setting id="hub.1106.spotlight.target" type="string"></setting>
    <setting id="navigation.onback" type="string">Parent</setting>
    <setting id="hub.1103.spotlight.path" type="string">noop</setting>
    <setting id="hub.home.spotlight.path" type="string">plugin://plugin.video.themoviedb.helper/?info=random_trending&amp;tmdb_type=both&amp;widget=true&amp;reload=$INFO[Window(Home).Property(TMDbHelper.Widgets.Reload)]&amp;reload=$INFO[Window(Home).Property(TMDbHelper.Widgets.Reload)]</setting>
    <setting id="TMDbHelper.Blur.Size" type="string">1080</setting>
    <setting id="customrating.movies.item02" type="string">Trakt</setting>
    <setting id="SearchDiscover.ItemLimit" type="string"></setting>
    <setting id="hub.1106.spotlight.path" type="string"></setting>
    <setting id="hub.1101.spotlight.sortby" type="string"></setting>
    <setting id="hub.1108.spotlight.sortby" type="string"></setting>
    <setting id="searchdiscover.votehigh" type="string"></setting>
    <setting id="CustomRating.Movies.Item06" type="string"></setting>
    <setting id="series_finale_color.name" type="string"></setting>
    <setting id="hub.1107.spotlight.fallback" type="string"></setting>
    <setting id="skinconstant.numeric.04" type="string">4</setting>
    <setting id="Hub.1101.Spotlight.icon" type="string">special://skin/extras/icons/watched-hide.png</setting>
    <setting id="hub.1102.spotlight.target" type="string">videos</setting>
    <setting id="seekbar.timedisplay" type="string">Combined</setting>
    <setting id="optionstiles.03.path" type="string"></setting>
    <setting id="home.sidemenucollapse" type="string">Topbar</setting>
    <setting id="skinconstant.numeric.07" type="string">7</setting>
    <setting id="mid_season_premiere_color.name" type="string"></setting>
    <setting id="optionstiles.01.target" type="string"></setting>
    <setting id="SkinVariables.SkinUser.ExecuteBuiltIn" type="string">RunScript(script.skinvariables,run_executebuiltin=special://skin/shortcuts/skinvariables-build-colortemplates.json,use_rules,get_values=true,reload=Home)</setting>
    <setting id="SkinConstant.Numeric.10" type="string">10</setting>
    <setting id="hub.1106.spotlight.fallback" type="string"></setting>
    <setting id="skinconstant.numeric.06" type="string">6</setting>
</settings>
